Repository mrlonis/example-angular-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng-lint-staged lint --fix --

.lintstagedrc.json:

{
  "*.{css,html,js,jsx,json,md,ts,tsx,scss}": ["prettier --write"],
  "cypress/**/*.{html,js,jsx,ts,tsx}": ["prettier --write", "ng-lint-staged lint --fix --"],
  "src/**/*.{html,js,jsx,ts,tsx}": ["prettier --write", "ng-lint-staged lint --fix --"]
}

Ran npm run lint -- --fix
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/index.html
  src/main.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding cypress
  README.md
  angular.json
  cypress.config.ts
  cypress/.eslintrc.json
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, ng-lint-staged lint --fix --

Ran prettier on all files
  README.md
  cypress/support/component-index.html
  package.json
  tsconfig.app.json
  tsconfig.spec.json
Due: prettier --write, ng-lint-staged lint --fix --

Adding eslint plugin import
  .eslintrc.json
  README.md
  package-lock.json
  package.json
Due: prettier --write

Fixing prettier config
  .eslintrc.json
  README.md
Due: prettier --write

Updating documentation
  README.md
Due: prettier --write

Updating documentation
  .eslintrc.json
  README.md
  angular.json
  cypress/e2e/app.cy.ts
Due: prettier --write, ng-lint-staged lint --fix --

Updating documentation
  .eslintrc.json
  .github/pull_request_template.md
  .github/workflows/actions.yml
  README.md
  angular.json
  cypress/tsconfig.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/main.ts
Due: prettier --write, ng-lint-staged lint --fix --

Updating documentation
  .github/workflows/actions.yml
  README.md
  cypress/e2e/app.cy.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, ng-lint-staged lint --fix --

Editing README
  README.md
  package.json
Due: prettier --write

Adding angular material
  package-lock.json
  package.json
Due: prettier --write

Updating angular versions
  package-lock.json
  package.json
Due: prettier --write

Updating dependencies
  package-lock.json
Due: prettier --write

Updating github actions
  .github/workflows/actions.yml
Due: none

Updating to latest typescript-eslint
  .eslintrc.json
  .vscode/settings.json
  cypress/e2e/app.cy.ts
  package-lock.json
  package.json
  src/main.ts
Due: prettier --write, ng-lint-staged lint --fix --

More changes
  .vscode/settings.json
  angular.json
  cypress/cypress.config.ts
  cypress/tsconfig.json
  package.json
  tsconfig.json
Due: prettier --write, ng-lint-staged lint --fix --

More changes
  .eslintrc.json
Due: prettier --write

Finalizing changes for the night
  .editorconfig
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier --write

Updating application
  .gitignore
  .husky/pre-commit
  cypress/cypress.config.ts
  package-lock.json
  package.json
Due: prettier --write, ng-lint-staged lint --fix --

Updating application
  .prettierrc
Due: none

Updating dependencies
  .github/workflows/actions.yml
Due: none

Updating pre-commit
  .husky/pre-commit
Due: none

Updating pre-commit
  package-lock.json
Due: prettier --write

Updating dependencies
  package-lock.json
  package.json
Due: prettier --write

Updating README.md
  README.md
Due: prettier --write

Updating Dependencies
  angular.json
  package-lock.json
  package.json
  src/app/app.component.html
Due: prettier --write, ng-lint-staged lint --fix --

Fixing tsconfig for cypress
  cypress/tsconfig.json
Due: prettier --write

Updating dependencies
  .nvmrc
  .vscode/settings.json
  package.json
Due: prettier --write

Updating dependencies
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

Updating dependencies
  .github/workflows/actions.yml
  .husky/pre-commit
Due: none

Updating dependencies
  README.md
Due: prettier --write

Updating dependencies
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

Updating dependencies
  .github/workflows/actions.yml
  src/main.ts
Due: prettier --write, ng-lint-staged lint --fix --

Updating Node
  .nvmrc
Due: none

Updating dependencies
  README.md
  package-lock.json
  package.json
Due: prettier --write

Updating to
  angular.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write
