Repository mrlonis/example-angular-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng-lint-staged lint --fix --

Updating dependencies
  README.md
  package-lock.json
  package.json
Due: prettier --write

Updating Node
  .nvmrc
Due: none

Updating dependencies
  package-lock.json
Due: prettier --write

Updating dependencies
  package-lock.json
  package.json
Due: prettier --write

Adding more eslint rules
  .eslintrc.json
  .lintstagedrc.json
  cypress/cypress.config.ts
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Create dependabot.yml
  .github/dependabot.yml
Due: none

Adding more eslint rules
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Updating dependencies
  .editorconfig
  package-lock.json
Due: prettier --write

Adding things
  .github/workflows/actions.yml
Due: none

Updating dependabot config
  .github/dependabot.yml
Due: none

Adding new workflow
  .github/workflows/update-angular.yml
  .nvmrc
  docs/check-branch.sh
  docs/check-version.sh
  docs/create-pr.sh
  docs/perform-upgrade.sh
  package-lock.json
  package.json
Due: prettier --write

Adding stuff
  .github/workflows/actions.yml
  package-lock.json
  package.json
Due: prettier --write

Adding things
  .github/dependabot.yml
  .github/workflows/update-angular.yml
  docs/check-version.sh
Due: none

Adding things
  .github/workflows/update-angular.yml
Due: none

Dependabot config update
  .github/dependabot.yml
Due: none

Dependabot config updates
  .github/workflows/dependabot-auto-approve.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

Adding stuff
  .github/dependabot.yml
  .github/workflows/dependabot-auto-approve.yml
Due: none

Adding stuff
  .github/dependabot.yml
  .github/workflows/actions.yml
  .github/workflows/update-angular.yml
  package-lock.json
Due: prettier --write

Dependabot Config Update
  .github/dependabot.yml
Due: none

Dependabot config updates
  .github/workflows/update-angular.yml
Due: none

Adding new stuff
  .github/workflows/update-angular.yml
Due: none

Create LICENSE
  LICENSE
Due: none

Updating application
  .github/dependabot.yml
  .github/workflows/actions.yml
  .github/workflows/update-angular.yml
  .nvmrc
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Updating to Eslint v9
  .eslintrc.json
  .vscode/settings.json
  angular.json
  cypress/.eslintrc.json
  eslint.config.js
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/directives/iframe-resizer.directive.ts
  src/app/directives/index.ts
  src/app/index.ts
  src/app/pages/example-iframe/example-iframe.component.html
  src/app/pages/example-iframe/example-iframe.component.scss
  src/app/pages/example-iframe/example-iframe.component.spec.ts
  src/app/pages/example-iframe/example-iframe.component.ts
  src/app/pages/example-iframe/index.ts
  src/app/pages/index.ts
  src/app/services/index.ts
  src/app/services/url-cache.service.spec.ts
  src/app/services/url-cache.service.ts
Due: prettier --write, ng-lint-staged lint --fix --

Updating to Eslint v9
  README.md
  package-lock.json
  package.json
Due: prettier --write

Updating to Eslint v9
  package-lock.json
Due: prettier --write

Karma config
  .gitignore
  angular.json
  karma.conf.js
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.module.ts
Due: prettier --write, ng-lint-staged lint --fix --

Karma config
  karma.conf.js
  package-lock.json
  package.json
Due: prettier --write

Karma config
  angular.json
Due: prettier --write

Fully configuring angular material
  .github/dependabot.yml
  .prettierrc
  README.md
  angular.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/pages/flex-layout/flex-layout.component.html
  src/app/pages/flex-layout/flex-layout.component.scss
  src/app/pages/flex-layout/flex-layout.component.spec.ts
  src/app/pages/flex-layout/flex-layout.component.ts
  src/app/pages/flex-layout/index.ts
  src/app/pages/index.ts
  src/index.html
  src/styles.scss
Due: prettier --write, ng-lint-staged lint --fix --

Adding more to flex layout
  angular.json
  src/app/components/index.ts
  src/app/components/table/index.ts
  src/app/components/table/table.component.html
  src/app/components/table/table.component.scss
  src/app/components/table/table.component.spec.ts
  src/app/components/table/table.component.ts
  src/app/index.ts
  src/app/pages/flex-layout/flex-layout.component.html
  src/app/pages/flex-layout/flex-layout.component.scss
  src/app/pages/flex-layout/flex-layout.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Fix tests
  angular.json
  src/app/components/table/table.component.spec.ts
  src/app/pages/flex-layout/flex-layout.component.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding keypress for table
  src/app/components/table/table.component.html
Due: prettier --write, ng-lint-staged lint --fix --

Adding Angular Material table for testing
  angular.json
  src/app/components/table/table.component.html
  src/app/components/table/table.component.scss
  src/app/components/table/table.component.ts
  src/app/index.ts
  src/app/interfaces/data.ts
  src/app/interfaces/elements.ts
  src/app/interfaces/index.ts
  src/app/interfaces/periodic-element-image.ts
  src/app/interfaces/periodic-element.ts
  src/app/pages/flex-layout/flex-layout.component.html
  src/app/pages/flex-layout/flex-layout.component.scss
Due: prettier --write, ng-lint-staged lint --fix --

Path conditions:
  prettier --write: ((any of: *.{css,html,js,jsx,json,md,ts,tsx,scss}) or (any of: cypress/**/*.{html,js,jsx,ts,tsx})) or (any of: src/**/*.{html,js,jsx,ts,tsx})
  ng-lint-staged lint --fix --: (any of: cypress/**/*.{html,js,jsx,ts,tsx}) or (any of: src/**/*.{html,js,jsx,ts,tsx})
