Repository mrlonis/example-angular-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng-lint-staged lint --fix --

.lintstagedrc.json:

{
  "*.{css,html,js,jsx,json,md,ts,tsx,scss}": ["prettier --write"],
  "cypress/**/*.{html,js,jsx,ts,tsx}": ["prettier --write", "ng-lint-staged lint --fix --"],
  "src/**/*.{html,js,jsx,ts,tsx}": ["prettier --write", "ng-lint-staged lint --fix --"]
}

Track column options by index
  src/app/components/mat-table/column-select/column-select.html
Due: prettier --write, ng-lint-staged lint --fix --

Use input event for table name filter
  src/app/components/mat-table/filter/filter.html
  src/app/components/mat-table/filter/filter.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Harden mat-table filter parsing and key handling
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
Due: prettier --write, ng-lint-staged lint --fix --

Cache filter parsing and tighten row key toggle
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
Due: prettier --write, ng-lint-staged lint --fix --

Remove setColumnsToDisplay helper from MatTable
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
Due: prettier --write, ng-lint-staged lint --fix --

Use overlay checkbox panel for column chooser
  cypress/e2e/mat-table.cy.ts
  src/app/components/mat-table/column-select/column-select.html
  src/app/components/mat-table/column-select/column-select.scss
  src/app/components/mat-table/column-select/column-select.spec.ts
  src/app/components/mat-table/column-select/column-select.ts
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
Due: prettier --write, ng-lint-staged lint --fix --

Move mat-table column chooser above table
  cypress/e2e/mat-table.cy.ts
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.scss
  src/app/components/mat-table/mat-table.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Improve column chooser overlay behavior
  src/app/components/mat-table/column-select/column-select.html
  src/app/components/mat-table/column-select/column-select.scss
  src/app/components/mat-table/column-select/column-select.spec.ts
  src/app/components/mat-table/column-select/column-select.ts
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Switch from matIconButton to mat-icon-button
  src/app/components/mat-table/mat-table.html
Due: prettier --write, ng-lint-staged lint --fix --

Restore focus when the overlay closes
  src/app/components/mat-table/mat-table.html
Due: prettier --write, ng-lint-staged lint --fix --

Remove styling
  src/app/components/mat-table/column-select/column-select.scss
Due: prettier --write

Remove explicit overlay focus restore binding
  src/app/components/mat-table/mat-table.html
Due: prettier --write, ng-lint-staged lint --fix --

Add Cypress TypeScript config reference
  tsconfig.json
Due: prettier --write

Tighten Angular lint rules and fix test host
  eslint.config.js
  src/app/directives/iframe-resizer.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Migrate E2E tests from Cypress to Playwright
  .claude/CLAUDE.md
  .codacy.yml
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .github/dependabot.yml
  .gitignore
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
  AGENTS.md
  README.md
  agent-instructions/source.md
  cypress/cypress.config.ts
  cypress/e2e/app.cy.ts
  cypress/e2e/iframe-resizer.cy.ts
  cypress/e2e/mat-table.cy.ts
  cypress/e2e/toolbar.cy.ts
  cypress/eslint.config.js
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
  tests/app.spec.ts
  tests/eslint.config.js
  tests/iframe-resizer.spec.ts
  tests/mat-table.spec.ts
  tests/playwright.config.ts
  tests/toolbar.spec.ts
  tests/tsconfig.json
  tsconfig.json
Due: prettier --write, ng-lint-staged lint --fix --

Include system deps in Playwright install
  package.json
Due: prettier --write

Remove quotes from Playwright --config flag
  .claude/CLAUDE.md
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
  AGENTS.md
  README.md
  agent-instructions/source.md
  package.json
Due: prettier --write

Format Codacy coverage step spacing
  .github/workflows/actions.yml
Due: none

Update .gitignore for Playwright artifacts
  .gitignore
Due: none

Simplify dependabot grouping config
  .github/dependabot.yml
Due: none

Bump Node.js version to v26.5.0
  .nvmrc
Due: none

Reorder ESLint config imports
  eslint.config.js
Due: prettier --write

Reorder ESLint Prettier requires
  eslint.config.js
Due: prettier --write

Add JSON linting with @eslint/json
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write

Add markdown linting to ESLint setup
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write

Include markdown in lint scripts
  package.json
Due: prettier --write

Add depend plugin to ESLint config
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write

Use eslint to lint package.json in lint-staged
  package.json
Due: prettier --write

Replace prettier with eslint for vscode settings lint-staged
  package.json
Due: prettier --write

Improve PR template and markdown lint parsing
  .github/pull_request_template.md
  eslint.config.js
Due: prettier --write

Refine lint-staged and ESLint ignore patterns
  eslint.config.js
  package.json
Due: prettier --write

Remove hardcoded Node version from README
  README.md
Due: prettier --write

Add Stylelint for SCSS linting
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier --write

Adjust Stylelint SCSS rule settings
  .stylelintrc.json
Due: prettier --write

Document Stylelint lint commands
  .claude/CLAUDE.md
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
  AGENTS.md
  README.md
  agent-instructions/source.md
Due: prettier --write

Lint staged SCSS files with stylelint
  package.json
Due: prettier --write

Bump dev dependency minor/patch versions
  package-lock.json
Due: prettier --write

Type sync agent script and lint scripts folder
  package-lock.json
  package.json
  scripts/eslint.config.js
  scripts/sync-agent-instructions.ts
  scripts/tsconfig.json
  tsconfig.json
Due: prettier --write

Add unit tests for sync-agent-instructions
  package.json
  scripts/sync-agent-instructions.spec.ts
  scripts/sync-agent-instructions.ts
  scripts/tsconfig.spec.json
  scripts/vitest.config.ts
  tsconfig.json
Due: prettier --write

Enable coverage for script Vitest runs
  scripts/vitest.config.ts
Due: prettier --write
