Repository mrlonis/example-angular-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng-lint-staged lint --fix --

.lintstagedrc.json:

{
  "*.{css,html,js,jsx,json,md,ts,tsx,scss}": ["prettier --write"],
  "cypress/**/*.{html,js,jsx,ts,tsx}": ["prettier --write", "ng-lint-staged lint --fix --"],
  "src/**/*.{html,js,jsx,ts,tsx}": ["prettier --write", "ng-lint-staged lint --fix --"]
}

Updating dependencies
  package-lock.json
  package.json
Due: prettier --write

Updating VSCode Settings
  .vscode/settings.json
Due: prettier --write

Update update-angular.yml
  .github/workflows/update-angular.yml
Due: none

Upgrade angular-eslint from 19.6.0 to 20.0.0
  angular.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Updating github actions
  .github/workflows/actions.yml
  .nvmrc
Due: none

Updating github actions
  .github/workflows/actions.yml
Due: none

Updating dependencies
  eslint.config.js
Due: prettier --write

Updating readme
  README.md
Due: prettier --write

Updating to Angular 20
  angular.json
  eslint.config.js
  karma.conf.js
  package-lock.json
  package.json
  src/app/components/example-iframe/example-iframe.component.ts
  src/app/components/mat-toolbar/mat-toolbar.component.ts
  src/app/directives/iframe-resizer.directive.ts
  src/app/services/url-cache.service.ts
  tsconfig.json
Due: prettier --write, ng-lint-staged lint --fix --

Updating to Angular 20
  .nvmrc
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write

Upgrade angular-eslint from 20.3.0 to 21.0.0
  package-lock.json
  package.json
  src/main.ts
Due: prettier --write, ng-lint-staged lint --fix --

Update dependabot config settings
  .github/dependabot.yml
Due: none

Update deps and remove platform-browser-dynamic
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

Set npm registry in .npmrc
  .npmrc
Due: none

Remove automated Angular update workflow
  .github/workflows/update-angular.yml
Due: none

Remove obsolete docs shell scripts
  docs/check-branch.sh
  docs/check-version.sh
  docs/create-pr.sh
  docs/git_pull_all.sh
  docs/perform-upgrade.sh
Due: none

Upgrade eslint-plugin-cypress to v6
  cypress/e2e/mat-table.cy.ts
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write, ng-lint-staged lint --fix --

Update Angular version in README example
  README.md
Due: prettier --write

Upgrade to Angular 21
  package-lock.json
  package.json
  src/main.ts
Due: prettier --write, ng-lint-staged lint --fix --

Update Angular upgrade example to v22
  README.md
Due: prettier --write

Upgrade to Angular 22
  .nvmrc
  angular.json
  cypress/tsconfig.json
  eslint.config.js
  karma.conf.js
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/components/example-iframe/example-iframe.component.ts
  src/app/components/example-iframe/index.ts
  src/app/components/index.ts
  src/app/components/mat-table/index.ts
  src/app/components/mat-table/mat-table.component.ts
  src/app/components/mat-tabs/index.ts
  src/app/components/mat-tabs/mat-tabs.component.spec.ts
  src/app/components/mat-tabs/mat-tabs.component.ts
  src/app/components/mat-toolbar/index.ts
  src/app/components/mat-toolbar/mat-toolbar.component.ts
  src/app/directives/index.ts
  src/app/interfaces/index.ts
  src/app/services/index.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write, ng-lint-staged lint --fix --

Split Cypress linting from Angular lint
  .husky/pre-commit
  angular.json
  cypress/eslint.config.js
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write, ng-lint-staged lint --fix --

Relax sort-* devDependency version specifiers
  package-lock.json
  package.json
Due: prettier --write

Add ESLint JS and update iframe types
  package-lock.json
  package.json
Due: prettier --write

Align Angular config with public assets setup
  angular.json
  eslint.config.js
  public/favicon.ico
  src/assets/.gitkeep
  src/favicon.ico
Due: prettier --write

Remove Zone.js from Angular bootstrap
  package-lock.json
  package.json
  src/main.ts
Due: prettier --write, ng-lint-staged lint --fix --

Remove @angular/animations dependency
  package-lock.json
  package.json
Due: prettier --write

Run lint as separate CI workflow step
  .github/workflows/actions.yml
  package.json
Due: prettier --write

Add AI coding guidelines for multiple IDEs
  .claude/CLAUDE.md
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .junie/guidelines.md
  .vscode/extensions.json
  .vscode/tasks.json
  .windsurf/rules/guidelines.md
  AGENTS.md
Due: prettier --write

Add agent instruction sync and CI check
  .github/workflows/actions.yml
  agent-instructions/source.md
  package.json
  scripts/sync-agent-instructions.mjs
Due: prettier --write

Add source-of-truth and testing guidance
  .claude/CLAUDE.md
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
  AGENTS.md
  agent-instructions/source.md
Due: prettier --write

Enable test coverage reporting by default
  angular.json
Due: prettier --write

Fix iframe resizer spec DI setup
  src/app/directives/iframe-resizer.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Reformat long element data entries
  src/app/interfaces/data.ts
Due: prettier --write, ng-lint-staged lint --fix --

Format ESLint rules and README JSON example
  README.md
  eslint.config.js
Due: prettier --write

Simplify Prettier npm scripts
  package.json
Due: prettier --write

Refactor app state to Angular signals
  src/app/app.spec.ts
  src/app/app.ts
  src/app/components/example-iframe/example-iframe.html
  src/app/components/example-iframe/example-iframe.ts
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.ts
  src/app/components/mat-toolbar/mat-toolbar.html
  src/app/components/mat-toolbar/mat-toolbar.ts
  src/app/directives/iframe-resizer.ts
  src/app/services/selected-page.spec.ts
  src/app/services/selected-page.ts
Due: prettier --write, ng-lint-staged lint --fix --

Expand unit test coverage across app
  src/app/app.spec.ts
  src/app/components/example-iframe/example-iframe.spec.ts
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-tabs/mat-tabs.spec.ts
  src/app/components/mat-toolbar/mat-toolbar.spec.ts
  src/app/directives/iframe-resizer.spec.ts
  src/app/services/selected-page.spec.ts
  src/app/services/url-cache.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --
