Repository mrlonis/example-angular-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng-lint-staged lint --fix --

Expand Cypress coverage for tabs and toolbar
  cypress/e2e/app.cy.ts
  cypress/e2e/iframe-resizer.cy.ts
  cypress/e2e/mat-table.cy.ts
  cypress/e2e/toolbar.cy.ts
Due: prettier --write, ng-lint-staged lint --fix --

Add Codacy coverage upload
  .github/workflows/actions.yml
Due: none

Add step names to GitHub Actions workflow
  .github/workflows/actions.yml
Due: none

Format CI workflow steps for readability
  .github/workflows/actions.yml
Due: none

Refine GitHub Actions concurrency behavior
  .github/workflows/actions.yml
Due: none

Fix import/no-extraneous-dependencies from the root ESLint config applies to Cypress TS files
  cypress/eslint.config.js
Due: prettier --write, ng-lint-staged lint --fix --

Add trailing comma in Cypress ESLint config
  cypress/eslint.config.js
Due: prettier --write, ng-lint-staged lint --fix --

Upload TypeScript and HTML coverage to Codacy
  .github/workflows/actions.yml
Due: none

Lazy load route components
  angular.json
  src/app/app.routes.ts
Due: prettier --write, ng-lint-staged lint --fix --

Simplify README and update to Vitest
  README.md
Due: prettier --write

Expand README with comprehensive documentation
  README.md
Due: prettier --write

Expand AI instructions with project context
  .claude/CLAUDE.md
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
  AGENTS.md
  agent-instructions/source.md
Due: prettier --write

Clarify instruction file sync guidance
  .claude/CLAUDE.md
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
  AGENTS.md
  agent-instructions/source.md
Due: prettier --write

Add GitHub Action for Codacy analysis
  .github/workflows/codacy.yml
Due: none

Set up Node and npm install in Codacy workflow
  .github/workflows/codacy.yml
Due: none

Remove max-allowed-issues from Codacy config
  .github/workflows/codacy.yml
Due: none

Remove standalone Codacy workflow
  .github/workflows/codacy.yml
Due: none

Ignore Codacy directory in git
  .gitignore
Due: none

chore: refresh package-lock dependencies
  package-lock.json
Due: prettier --write

Move route components to pages and drop service
  src/app/app.routes.ts
  src/app/components/mat-tabs/mat-tabs.scss
  src/app/components/mat-toolbar/mat-toolbar.html
  src/app/components/mat-toolbar/mat-toolbar.ts
  src/app/pages/mat-tabs/mat-tabs.html
  src/app/pages/mat-tabs/mat-tabs.scss
  src/app/pages/mat-tabs/mat-tabs.spec.ts
  src/app/pages/mat-tabs/mat-tabs.ts
  src/app/pages/mat-toolbar/mat-toolbar.html
  src/app/pages/mat-toolbar/mat-toolbar.scss
  src/app/pages/mat-toolbar/mat-toolbar.spec.ts
  src/app/pages/mat-toolbar/mat-toolbar.ts
  src/app/services/selected-page.spec.ts
  src/app/services/selected-page.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adjust table sizing in toolbar page
  src/app/pages/mat-toolbar/mat-toolbar.html
Due: prettier --write, ng-lint-staged lint --fix --

Refactor flex utilities for better composability
  src/app/pages/mat-tabs/mat-tabs.html
  src/app/pages/mat-toolbar/mat-toolbar.html
  src/styles.scss
Due: prettier --write, ng-lint-staged lint --fix --

Rename mat table component selector
  src/app/components/mat-table/mat-table.ts
  src/app/pages/mat-tabs/mat-tabs.html
  src/app/pages/mat-toolbar/mat-toolbar.html
Due: prettier --write, ng-lint-staged lint --fix --

Move mat-table layout styles to component host
  src/app/components/mat-table/mat-table.scss
  src/app/pages/mat-tabs/mat-tabs.html
  src/app/pages/mat-tabs/mat-tabs.spec.ts
  src/app/pages/mat-toolbar/mat-toolbar.html
Due: prettier --write, ng-lint-staged lint --fix --

Clarify pages vs components docs
  .claude/CLAUDE.md
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
  AGENTS.md
  README.md
  agent-instructions/source.md
Due: prettier --write

Fix Cypress selector for Mat Table component
  cypress/e2e/iframe-resizer.cy.ts
Due: prettier --write, ng-lint-staged lint --fix --

Extract periodic element detail to component
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.scss
  src/app/components/mat-table/mat-table.ts
  src/app/components/periodic-element-detail/periodic-element-detail.html
  src/app/components/periodic-element-detail/periodic-element-detail.scss
  src/app/components/periodic-element-detail/periodic-element-detail.spec.ts
  src/app/components/periodic-element-detail/periodic-element-detail.ts
Due: prettier --write, ng-lint-staged lint --fix --

Add section comments to mat-table template
  src/app/components/mat-table/mat-table.html
Due: prettier --write, ng-lint-staged lint --fix --

Co-locate element detail with mat-table
  src/app/components/mat-table/mat-table.ts
  src/app/components/mat-table/periodic-element-detail/periodic-element-detail.html
  src/app/components/mat-table/periodic-element-detail/periodic-element-detail.scss
  src/app/components/mat-table/periodic-element-detail/periodic-element-detail.spec.ts
  src/app/components/mat-table/periodic-element-detail/periodic-element-detail.ts
Due: prettier --write, ng-lint-staged lint --fix --

Extract mat-table column picker component
  src/app/components/mat-table/column-select/column-select.html
  src/app/components/mat-table/column-select/column-select.scss
  src/app/components/mat-table/column-select/column-select.spec.ts
  src/app/components/mat-table/column-select/column-select.ts
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
Due: prettier --write, ng-lint-staged lint --fix --

Strengthen mat-table test typings
  src/app/components/mat-table/column-select/column-select.spec.ts
  src/app/components/mat-table/mat-table.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Add linting guidance to agent instructions
  .claude/CLAUDE.md
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
  AGENTS.md
  agent-instructions/source.md
Due: prettier --write

Clarify scoped lint commands in AI guidelines
  .claude/CLAUDE.md
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
  AGENTS.md
  agent-instructions/source.md
Due: prettier --write

Extract filter input into Filter component
  src/app/components/mat-table/filter/filter.html
  src/app/components/mat-table/filter/filter.scss
  src/app/components/mat-table/filter/filter.spec.ts
  src/app/components/mat-table/filter/filter.ts
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
Due: prettier --write, ng-lint-staged lint --fix --

Refactor table filter to use FilterState model
  src/app/components/mat-table/filter/filter.spec.ts
  src/app/components/mat-table/filter/filter.ts
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
  src/app/interfaces/filter-state.ts
Due: prettier --write, ng-lint-staged lint --fix --

Refine mat-table filter naming and UI copy
  cypress/e2e/mat-table.cy.ts
  src/app/components/mat-table/filter/filter.html
  src/app/components/mat-table/filter/filter.spec.ts
  src/app/components/mat-table/filter/filter.ts
Due: prettier --write, ng-lint-staged lint --fix --

Move stopPropagation into toggleExpanded method
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
Due: prettier --write, ng-lint-staged lint --fix --

Update baseline-browser-mapping to 2.10.42
  package-lock.json
Due: prettier --write

Set spec TypeScript rootDir to src/app
  tsconfig.spec.json
Due: prettier --write

Add Codacy configuration
  .codacy.yml
Due: none

Path conditions:
  prettier --write: ((any of: *.{css,html,js,jsx,json,md,ts,tsx,scss}) or (any of: cypress/**/*.{html,js,jsx,ts,tsx})) or (any of: src/**/*.{html,js,jsx,ts,tsx})
  ng-lint-staged lint --fix --: (any of: cypress/**/*.{html,js,jsx,ts,tsx}) or (any of: src/**/*.{html,js,jsx,ts,tsx})
