Repository mrlonis/example-angular-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng-lint-staged lint --fix --

Adding more columns to the table
  src/app/components/table/table.component.html
  src/app/components/table/table.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Updating dependencies
  package-lock.json
  src/app/app-routing.module.ts
  src/app/components/table/table.component.html
  src/app/index.ts
  src/app/pages/example-iframe/example-iframe.component.ts
  src/app/pages/flex-layout/flex-layout.component.html
  src/app/pages/flex-layout/flex-layout.component.scss
  src/app/pages/flex-layout/flex-layout.component.ts
  src/app/pages/flex-layout/index.ts
  src/app/pages/index.ts
  src/app/pages/layout/index.ts
  src/app/pages/layout/layout.component.html
  src/app/pages/layout/layout.component.scss
  src/app/pages/layout/layout.component.spec.ts
  src/app/pages/layout/layout.component.ts
  src/styles.scss
Due: prettier --write, ng-lint-staged lint --fix --

Updating dependencies
  angular.json
  package-lock.json
  src/app/components/table/table.component.html
  src/index.html
  src/styles.scss
Due: prettier --write, ng-lint-staged lint --fix --

Updating dependencies
  package-lock.json
  src/index.html
  src/styles.scss
  src/styles/stylesm3-theme.scss
Due: prettier --write, ng-lint-staged lint --fix --

Updating dependencies
  eslint.config.js
  package-lock.json
  package.json
  src/app/app.component.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Updating dependencies
  eslint.config.js
Due: prettier --write

Adding cypress test
  cypress/e2e/app.cy.ts
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/main.ts
Due: prettier --write, ng-lint-staged lint --fix --

Minor cypress updatyes
  cypress/cypress.config.ts
  src/app/app.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Update dependabot.yml
  .github/dependabot.yml
Due: none

Why Not
  angular.json
Due: prettier --write

Adding more cypress tests
  cypress/e2e/app.cy.ts
  cypress/e2e/iframe-resizer.cy.ts
  cypress/e2e/mat-table.cy.ts
Due: prettier --write, ng-lint-staged lint --fix --

Updating dependencies
  package-lock.json
Due: prettier --write

Moving files around
  .nvmrc
  package-lock.json
  src/app/app.component.ts
  src/app/components/example-iframe/example-iframe.component.html
  src/app/components/example-iframe/example-iframe.component.scss
  src/app/components/example-iframe/example-iframe.component.spec.ts
  src/app/components/example-iframe/example-iframe.component.ts
  src/app/components/example-iframe/index.ts
  src/app/components/index.ts
  src/app/components/layout/index.ts
  src/app/components/layout/layout.component.html
  src/app/components/layout/layout.component.scss
  src/app/components/layout/layout.component.spec.ts
  src/app/components/layout/layout.component.ts
  src/app/pages/index.ts
Due: prettier --write, ng-lint-staged lint --fix --

Better cypress tests
  cypress/cypress.config.ts
  cypress/e2e/app.cy.ts
  cypress/e2e/iframe-resizer.cy.ts
  cypress/e2e/mat-table.cy.ts
Due: prettier --write, ng-lint-staged lint --fix --

Testing new pre-commit
  .husky/pre-commit
Due: none

Adding new pre-commit and removing dependencies
  .husky/pre-commit
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier --write

Adding new pre-commit and removing dependencies
  package.json
Due: prettier --write

Adding new pre-commit and removing dependencies
  .lintstagedrc.json
Due: prettier --write

More updates
  .husky/pre-commit
Due: none

More updates
  .vscode/settings.json
Due: prettier --write

Adding cypress test for filter element
  cypress/e2e/mat-table.cy.ts
Due: prettier --write, ng-lint-staged lint --fix --

Changing index.html title
  src/index.html
Due: prettier --write, ng-lint-staged lint --fix --

Changing index.html title
  src/app/components/table/table.component.html
  src/app/components/table/table.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Updating recommended extensions
  .vscode/extensions.json
Due: prettier --write

Updating settings
  .vscode/settings.json
Due: prettier --write

Updating dependencies
  package-lock.json
  package.json
Due: prettier --write

Adding a new script file
  docs/git_pull_all.sh
Due: none

Renaming files
  src/app/components/index.ts
  src/app/components/layout/layout.component.spec.ts
  src/app/components/layout/layout.component.ts
  src/app/components/mat-table/index.ts
  src/app/components/mat-table/mat-table.component.html
  src/app/components/mat-table/mat-table.component.scss
  src/app/components/mat-table/mat-table.component.spec.ts
  src/app/components/mat-table/mat-table.component.ts
  src/app/components/table/index.ts
Due: prettier --write, ng-lint-staged lint --fix --

Eslint config
  eslint.config.js
  src/app/app.component.ts
  src/app/components/index.ts
  src/app/components/layout/index.ts
  src/app/components/mat-tabs/index.ts
  src/app/components/mat-tabs/mat-tabs.component.html
  src/app/components/mat-tabs/mat-tabs.component.scss
  src/app/components/mat-tabs/mat-tabs.component.spec.ts
  src/app/components/mat-tabs/mat-tabs.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

New component
  src/app/app.component.ts
  src/app/components/index.ts
  src/app/components/mat-toolbar/index.ts
  src/app/components/mat-toolbar/mat-toolbar.component.html
  src/app/components/mat-toolbar/mat-toolbar.component.scss
  src/app/components/mat-toolbar/mat-toolbar.component.spec.ts
  src/app/components/mat-toolbar/mat-toolbar.component.ts
  src/app/services/index.ts
  src/app/services/selected-page.service.spec.ts
  src/app/services/selected-page.service.ts
Due: prettier --write, ng-lint-staged lint --fix --

Fixing GitHub Actions
  .github/workflows/update-angular.yml
Due: none

ESLint config update
  eslint.config.js
  package-lock.json
  src/app/app.component.html
  src/app/components/mat-table/mat-table.component.html
  src/app/components/mat-tabs/mat-tabs.component.html
  src/app/components/mat-toolbar/mat-toolbar.component.html
Due: prettier --write, ng-lint-staged lint --fix --

Minor update
  eslint.config.js
Due: prettier --write

Final changes
  package.json
Due: prettier --write

Update update-angular.yml
  .github/workflows/update-angular.yml
Due: none

Update eslint.config.js
  eslint.config.js
Due: prettier --write

Upgrade @angular/core from 18.2.12 to 19.0.1
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/components/example-iframe/example-iframe.component.ts
  src/app/components/mat-table/mat-table.component.ts
  src/app/components/mat-tabs/mat-tabs.component.ts
  src/app/components/mat-toolbar/mat-toolbar.component.ts
  src/styles.scss
  src/styles/stylesm3-theme.scss
Due: prettier --write, ng-lint-staged lint --fix --

Updating dependencies
  .nvmrc
  .vscode/settings.json
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{css,html,js,jsx,json,md,ts,tsx,scss}) or (any of: cypress/**/*.{html,js,jsx,ts,tsx})) or (any of: src/**/*.{html,js,jsx,ts,tsx})
  ng-lint-staged lint --fix --: (any of: cypress/**/*.{html,js,jsx,ts,tsx}) or (any of: src/**/*.{html,js,jsx,ts,tsx})
