Repository mrlonis/example-angular-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng-lint-staged lint --fix --

Add scripts coverage upload to Codacy
  .github/workflows/actions.yml
Due: none

Migrate Stylelint config to JavaScript
  .stylelintrc.json
  stylelint.config.js
Due: prettier --write

Update license copyright year
  LICENSE
Due: none

Scope iframe resizer to iframe elements
  src/app/directives/iframe-resizer.ts
Due: prettier --write, ng-lint-staged lint --fix --

Add Playwright ESLint plugin config
  package-lock.json
  package.json
  tests/eslint.config.js
Due: prettier --write

Use AGENTS.md as instruction source
  .claude/CLAUDE.md
  .codacy.yml
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
  AGENTS.md
  README.md
  agent-instructions/source.md
  scripts/sync-agent-instructions.ts
Due: prettier --write

Ensure sync script creates target directories
  scripts/sync-agent-instructions.ts
Due: prettier --write

Add --targets support to sync script
  scripts/sync-agent-instructions.spec.ts
  scripts/sync-agent-instructions.ts
Due: prettier --write

Add scripts/README.md for sync-agent-instructions
  scripts/README.md
Due: prettier --write

Test maybeWrite creates missing parent dirs
  scripts/sync-agent-instructions.spec.ts
Due: prettier --write

chore: refresh npm lockfile dependencies
  package-lock.json
Due: prettier --write

Adjust table chooser spacing and watcher allowlist
  package.json
  src/app/components/mat-table/mat-table.scss
Due: prettier --write

Render links and images in mat table cells
  src/app/components/mat-table/mat-table.html
Due: prettier --write, ng-lint-staged lint --fix --

Use npm script for pre-commit lint-staged
  .husky/pre-commit
  package.json
Due: prettier --write

Add resizable columns to Material table
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.scss
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
  src/app/directives/column-resize.spec.ts
  src/app/directives/column-resize.ts
Due: prettier --write, ng-lint-staged lint --fix --

Fix global styles for column resize handle
  src/app/components/mat-table/mat-table.scss
  src/styles.scss
Due: prettier --write

chore: bump Angular and tooling patch deps
  package-lock.json
Due: prettier --write

Add spacer column for stable table resizing
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.scss
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
  src/app/directives/column-resize.spec.ts
  src/app/directives/column-resize.ts
Due: prettier --write, ng-lint-staged lint --fix --

Clamp column resizing and optimize table images
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.scss
  src/app/components/mat-table/mat-table.ts
  src/app/directives/column-resize.spec.ts
  src/app/directives/column-resize.ts
Due: prettier --write, ng-lint-staged lint --fix --

Fix column resize drag cleanup and a11y
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.spec.ts
  src/app/directives/column-resize.spec.ts
  src/app/directives/column-resize.ts
Due: prettier --write, ng-lint-staged lint --fix --

Sync aria attrs on input change, guard non-primary clicks
  src/app/directives/column-resize.spec.ts
  src/app/directives/column-resize.ts
Due: prettier --write, ng-lint-staged lint --fix --

Fix column-resize aria-label and sticky positioning
  src/app/directives/column-resize.spec.ts
  src/app/directives/column-resize.ts
Due: prettier --write, ng-lint-staged lint --fix --

chore: refresh npm lockfile versions
  package-lock.json
Due: prettier --write

Refactor table to typed column definitions
  src/app/components/mat-table/column-select/column-select.html
  src/app/components/mat-table/column-select/column-select.spec.ts
  src/app/components/mat-table/column-select/column-select.ts
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
  src/app/interfaces/column-definition.ts
  tests/mat-table.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Add rendering for bohr_model_image and spectral_img
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
Due: prettier --write, ng-lint-staged lint --fix --

Fix spectral image URLs to use direct Wikimedia links
  src/app/interfaces/data.ts
Due: prettier --write, ng-lint-staged lint --fix --

Revise PR template for clearer review flow
  .github/pull_request_template.md
Due: prettier --write

Add Select All to column picker and adjust widths
  src/app/components/mat-table/column-select/column-select.html
  src/app/components/mat-table/column-select/column-select.scss
  src/app/components/mat-table/column-select/column-select.spec.ts
  src/app/components/mat-table/column-select/column-select.ts
  src/app/components/mat-table/mat-table.ts
Due: prettier --write, ng-lint-staged lint --fix --

Fix mat-table width test expectation
  src/app/components/mat-table/mat-table.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Optimize column ordering and clarify width docs
  src/app/components/mat-table/column-select/column-select.ts
  src/app/components/mat-table/mat-table.ts
Due: prettier --write, ng-lint-staged lint --fix --

Refactor mat-table column width definitions
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
Due: prettier --write, ng-lint-staged lint --fix --

Export column constants from mat-table
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
Due: prettier --write, ng-lint-staged lint --fix --

Update npm lockfile dependencies
  package-lock.json
Due: prettier --write

Restrict row expansion to expand button
  src/app/components/mat-table/mat-table.html
  src/app/components/mat-table/mat-table.spec.ts
  src/app/components/mat-table/mat-table.ts
  tests/mat-table.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Add mat-table column/rendering regression tests
  src/app/components/mat-table/mat-table.spec.ts
  tests/mat-table.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Update baseline-browser-mapping and ip-address
  package-lock.json
Due: prettier --write

Add LocalStorage service scaffold
  src/app/services/local-storage.spec.ts
  src/app/services/local-storage.ts
Due: prettier --write, ng-lint-staged lint --fix --

Speed up app route specs by stubbing pages
  src/app/app.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Use @Service for UrlCache singleton
  src/app/services/url-cache.ts
Due: prettier --write, ng-lint-staged lint --fix --

Add AppState service and creation test
  src/app/services/app-state.spec.ts
  src/app/services/app-state.ts
Due: prettier --write, ng-lint-staged lint --fix --

Path conditions:
  prettier --write: ((any of: *.{css,html,js,jsx,json,md,ts,tsx,scss}) or (any of: cypress/**/*.{html,js,jsx,ts,tsx})) or (any of: src/**/*.{html,js,jsx,ts,tsx})
  ng-lint-staged lint --fix --: (any of: cypress/**/*.{html,js,jsx,ts,tsx}) or (any of: src/**/*.{html,js,jsx,ts,tsx})
